.app {
    padding: 5rem;
}

.suggestion {
    padding: .5rem;
    cursor: pointer;
}
.suggestion:hover {
    background-color: rgb(249, 249, 249);
}
.suggestion .repository-name {
    color: rgb(121,121,121);
    margin-right: .5rem;
}
.suggestion .repository-language {
    color: rgb(131,131,131);
}
.suggestion .repository-description {
    color: rgb(196,196,196);
}
.repository {
    padding: 1rem;
    margin-top: 2rem;
}
.repository .label {
    text-align: right;
    font-weight: 600;
    padding-right: 1rem;
    color: rgb(96,96,96);
}
.repository .value {
    color: rgb(159,159,159);
}
.repository .value a {
    color: rgb(153,192,239);
}